* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('normalize.css');
:root {
    --dark-purple: #361134;
    --fandango: #B0228C;
    --flickr-pink: #EA3788;
    --candy-pink: #E56B70;
    --salmon-pink: #F391A0;
    --pacific-blue: #559CAD;
    --charcoal: #2A3D45;
}

body {
    font-family: 'Amatic SC', cursive;
    background: url('../img/background.jpg') var(--salmon-pink);
    background-attachment: fixed;
    background-repeat: repeat;
}

img {
    vertical-align: top;
}

.container {
    width: 90%;
    max-width: 1000px;
    /* min-height: 100vh; */
    margin: auto;
}


/* -------- HEADER --------- */

header {
    padding-bottom: 20px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px;
}

header nav a {
    color: var(--fandango);
    text-decoration: none;
    display: inline-block;
    margin: 30px 20px 0px 00px;
    padding-bottom: 9px;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    transition: all 1s ease;
}

header nav a .fas {
    color: rgba(54, 17, 52, 0);
    margin-right: 5px;
    transition: all 1s ease-in-out;
}

header nav a:hover {
    /* border-bottom: 2px solid var(--pacific-blue); */
    color: var(--pacific-blue);
}

header nav a:hover>.fas {
    color: var(--pacific-blue);
    visibility: visible;
}

.container header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------- ABOUT SECTION ---------- */

.about {
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    border-radius: 70px 10px 70px 10px;
    background: rgba(243, 145, 160, .6)
}

.about .explicacion {
    width: 50%;
    /* background: red; */
    margin: auto;
}

.about>h2 {
    margin-bottom: 10px;
    font-size: 45px;
}

.about .explicacion>p {
    /* font-family: 'Open Sans', sans-serif; */
    line-height: 40px;
    font-size: 30px;
}


/* ------------ MAIN SECTION ------------- */

.main {
    /* background: #ccc; */
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.main .card {
    /* background: red; */
    margin-bottom: 1px;
    margin-left: 1px;
    width: 45.5%;
    height: 300px;
    font-size: 30px;
    line-height: 40px;
}

.main .card ul {
    list-style-type: none;
    margin-top: 25px;
}

.card-1,
.card-4,
.card-5,
.card-8 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    font-weight: 300;
    border: 2px solid var(--flickr-pink);
    border-radius: 10px;
    transition: all 0.5s;
}

.card-1 {
    background-image: url('../img/modelos/moly.jpeg');
}

.card-4 {
    background-image: url('../img/modelos/bull.jpeg');
}

.card-5 {
    background-image: url('../img/modelos/golden.jpeg');
}

.card-8 {
    background-image: url('../img/modelos/machi2.jpeg');
}

.card-1:hover,
.card-4:hover,
.card-5:hover,
.card-8:hover {
    box-shadow: 10px 10px 5px var(--candy-pink);
    width: 40%;
}

.card-2,
.card-3,
.card-6,
.card-7 {
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

.card-3 p {
    line-height: 20px;
}


/* --------- FOOTER ---------- */

footer {
    background: rgba(42, 61, 69, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    /* border-radius: 70px 10px 0 0; */
    color: #fff;
    /* border-top: 1px solid red; */
    /* box-shadow: 0px -10px 20px var(--charcoal); */
}

footer .social-media {
    /* background: red; */
    width: 350px;
    /* height: 10px; */
    display: flex;
    justify-content: space-between;
}

footer .social-media a {
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 100px;
    padding: 15px 0px;
    margin: 0 20px;
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
}

footer .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

footer .logo-footer>p {
    margin-top: 10px;
    line-height: 15px;
}

footer .social-media .instagram:hover {
    background: #e1306c;
}

footer .social-media .facebook:hover {
    background: #3b5999;
}

@media screen and (max-width:800px) {
    header nav {
        justify-content: center;
        margin-top: 45px;
    }
    footer .social-media {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .logo-footer>p {
        font-size: 15px;
    }
}

@media screen and (max-width:700px) {
    footer .logo-footer {
        text-align: center;
    }
}

@media screen and (max-width:650px) {
    .about .explicacion p {
        font-size: 14px;
        line-height: 25px;
    }
    .container header .logo {
        width: 50%;
        margin: auto;
    }
    .main .card {
        height: 150px;
    }
}

@media screen and (max-width:500px) {
    .about .explicacion p {
        font-size: 15px;
        line-height: 17px;
    }
}