<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <title>Dinocamitas</title>
    <script src="https://kit.fontawesome.com/cb69ef98aa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/galeria.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div><a href="home.html"><i class="fas fa-paw"></i>Inicio</a></div>
                <div><a href="catalogo.html"><i class="fas fa-paw"></i>Catálogo</a></div>
                <div><a href="galeria.html"><i class="fas fa-paw"></i>Galería</a></div>
            </nav>
            <div class="logo">
                <!-- <img src="../img/logo.png" alt="Dinocamitas" width="350"> -->
                <h1>Productos <i class="fas fa-paw"></i></h1>
            </div>
        </header>
        <div class="main">
            <div class="product"><img class="img-gallery" src="../img/galeria/1-1.jpeg" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/1-2.jpeg" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/2-1.jpeg" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/2-2.jpeg" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/3-1.jpeg" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/3-2.jpeg" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/4-1.jpeg" alt=""></div>
            <div class="product"><img src="../img/logo.png" alt=""></div>
            <div class="product"><img class="img-gallery" src="../img/galeria/4-2.jpeg" alt=""></div>
        </div>
        <footer>
            <div class='logo-footer'>
                <img src="../img/logo-footer.png" width="75" alt="Dinocamitas">
                <p>Dinocamitas</br>(0983) 150 429</p>
            </div>
            <div class="social-media" id=>
                <a href="https://www.instagram.com/dinocamitas/?hl=es-la" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/DINO-Camitas-103499021401005/" target="_blank" class="facebook"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="developed-by">
                <p>Creado por <i class="fab fa-pagelines"></i></p>
            </div>
        </footer>
    </div>
</body>

</html>