<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <title>Dinocamitas</title>
    <script src="https://kit.fontawesome.com/cb69ef98aa.js" crossorigin="anonymous"></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div><a href="home.html"><i class="fas fa-paw"></i>Inicio</a></div>
                <div><a href="catalogo.html"><i class="fas fa-paw"></i>Catálogo</a></div>
                <!-- <div><a href="galeria.html"><i class="fas fa-paw"></i>Galería</a></div> -->
            </nav>
            <div class="logo">
                <img src="../img/logo.png" alt="Dinocamitas" width="350">
            </div>
        </header>
        <section class="about">
            <h2>¿Qué hacemos? </h2>
            <div class="explicacion">
                <div class="patita"><i class="fas fa-paw"></i></div>
                <p>Fabricamos camitas a partir de cubiertas recicladas, te ofrecemos calidad, comodidad y seguridad para tus mascotas, protegerlos del frío y la humedad es un factor muy importante para evitar que tus mascotas contraigan entermedades en esta
                    temporada de frío, nosotros te ayudamos a protegerlos.
                </p>
                <div class="patita"><i class="fas fa-paw"></i></div>
            </div>
        </section>
        <div class="main">
            <div class="card card-1"></div>
            <div class="card card-2">
                <p>¿Cómo hacer tu pedido?</p>
            </div>
            <div class="card card-3">
                <p>Elegís el tamaño indicado para tu mascota</p>
                <p> M: 55cm y hasta 12Kg.</br>G: 60cm y hasta 20kg.</br> XG: 70cm y hasta 30kg.</p>
            </div>
            <div class="card card-4"></div>
            <div class="card card-5"></div>
            <div class="card card-6">
                <p>Elegí el color y estampado</p>
                <p>Te personalizamos las camitas como te guste.</p>
            </div>
            <div class="card card-7">
                <p>Confirma tu pedido girando el 50% del costo.</br>(Conversable)</p>
            </div>
            <div class="card card-8"></div>
        </div>
        <footer>
            <div class='logo-footer'>
                <img src="../img/logo-footer.png" width="75" alt="Dinocamitas">
                <p>Dinocamitas</p>
                <p>(0983) 150 429</p>
                <p class="location">Ñemby - Paraguay</p>
            </div>
            <div class="social-media" id=>
                <a href="https://www.instagram.com/dinocamitas/?hl=es-la" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/DINO-Camitas-103499021401005/" target="_blank" class="facebook"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="developed-by">
                <p>Creado por <i class="fab fa-pagelines"></i></p>
            </div>
        </footer>
    </div>
</body>

</html>