<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <title>Dinocamitas</title>
    <script src="https://kit.fontawesome.com/cb69ef98aa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div><a href="home.html"><i class="fas fa-paw"></i>Inicio</a></div>
                <div><a href="catalogo.html"><i class="fas fa-paw"></i>Catálogo</a></div>
                <div><a href="galeria.html"><i class="fas fa-paw"></i>Productos</a></div>
            </nav>
            <div class="logo">
                <img src="../img/logo.png" alt="Dinocamitas" width="350">
            </div>
        </header>
        <section class="about">
            <h2> Camitas Eco Friendly para que tus mascotas tengan dulces sueños </h2>
            <div class="explicacion">
                <div class="patita"><i class="fas fa-paw"></i></div>
                <p> Proteger a tus mascotas del frío y la humedad es un factor muy importante para evitar que contraigan entermedades. No esperes mas para brindarles el bienestar que merecen, apoyando también el cuidado de nuestro ambiente.
                </p>
                <div class="patita"><i class="fas fa-paw"></i></div>
                <p>Visita nuestro catálogo para ver los productos.</p>
            </div>
        </section>
        <div class="main">
            <div class="card card-1"></div>
            <div class="card card-2">
                <p>¿Cómo hacer tu pedido?</p>
            </div>
            <div class="card card-3">
                <p>Elegís el tamaño indicado para tu mascota</p>
                <ul>
                    <li>M: 55cm - hasta 12Kg.</li>
                    <li>G: 60cm - hasta 20kg.</li>
                    <li>XG: 70cm - hasta 30kg.</li>
                    <li>XXG: 75cm +30kg.</li>
                </ul>
            </div>
            <div class="card card-4"></div>
            <div class="card card-5"></div>
            <div class="card card-6">
                <p>Elegí el color y estampado</p>
                <p>Te personalizamos las camitas como te guste.</p>
            </div>
            <div class="card card-7">
                <p>Confirma tu pedido girando el 50% del costo.</br>(Conversable)</p>
            </div>
            <div class="card card-8"></div>
        </div>
        <footer>
            <div class='logo-footer'>
                <img src="../img/logo-footer.png" width="75" alt="Dinocamitas">
                <p>Dinocamitas</p>
                <p>(0983) 150 429</p>
                <p class="location">Ñemby - Paraguay</p>
            </div>
            <div class="social-media" id=>
                <a href="https://www.instagram.com/dinocamitas/?hl=es-la" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/DINO-Camitas-103499021401005/" target="_blank" class="facebook"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="developed-by">
                <p>Creado por <i class="fab fa-pagelines"></i></p>
            </div>
        </footer>
    </div>
</body>

</html>